.container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
  flex-wrap: wrap;
}


.button{
    width: 100px;
      height: 100px;
      border: 2px solid #333;
      border-radius: 10px;
     cursor: pointer;
}

#violet {background-color: violet}
#indigo {background-color: indigo;}
#blue {background-color: blue;}
#green {background-color: green;}
#yellow {background-color: yellow;}
#orange {background-color: orange;}
#red {background-color: red;}